<div class='col-md-8'>
  <%= form_for [@article, @comment], html: { class: 'form-horizontal', role: 'form'} do |f| %>
    <%= render 'comments/comment_errors' %>
    
    <div class='form_fields'>
      <%= f.label :body, 'New Comment' %>
      <%= f.text_area :body, rows: 10, class: 'form-control', placeholder: 'Your comment' %>
    </div>  
      <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
    <div class='form_fields'>
      <%= f.submit 'Add Comment', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>