<div class="card">
  <h3 class="card-header">
    <%= @article.title %>
  </h3>
  <div class="card-body">
    <p class="card-text">
      <%= @article.body %>
    </p>  
  </div>
  <div class='card-footer'>
    <div class="row">
      <div class="col-lg-8"> 
        Created on: <%= @article.created_at.strftime("%b %d, %Y") %>
      </div>
      <%= article_owner %>
    </div>
  </div>
</div>
<hr>

<div id='comments-form'></div>

<div id='comments-display'>
  <div class='card'>
    <div class='card-header'>
      <div class='row'>
        <div class='col-lg-8'>
          <h3 class='text-left'>Comments</h3>
        </div>
        <div class='col-lg-4'>
          <%= link_to 'Comment on Article', new_article_comment_path(@article), remote: true, class: 'btn btn-info cmt-btn' %>
        </div>
      </div>
    </div>  
  </div>

  <div id='messages'>
    <%= render @article.comments %>
  </div>
</div>
